<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
    <p>mise a jour: {{lastUpdate|async|date:'short'|uppercase}}</p>
    <h1>
      MES APPAREILS
    </h1>
    <div class="row">
      <ul>
        <app-appareil *ngFor="let appareil of appareils" [appareilName]="appareil.name" [appareilStatus]="appareil.status"></app-appareil>
      </ul>
    </div>
    <button class="btn btn-success" [disabled]="!isAuth" (click)="onAllumer()"> Tout allumer</button>
   
   <app-mon-premier></app-mon-premier>
   <app-test-c></app-test-c>
  
</div>
